<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whfp.anti_terrorism">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".basic.BasicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity android:name=".activity.MainActivity" />
        <!--事件上报菜单页-->
        <activity android:name=".activity.SJSBMenuActivity" />
        <!--监控查看菜单页-->
        <activity android:name=".activity.JKCKMenuActivity" />
        <!--通用事件上报-->
        <activity android:name=".activity.SJSBActivity" />
        <!--校车监控视频页面-->
        <activity android:name=".activity.VideoActivity" />
        <!--校车历史录像列表-->
        <activity android:name=".activity.RetrievalActivity" />
        <!--校车历史录像回放界面-->
        <activity android:name=".activity.PlayBackActivity" />
        <!--校车运行录像查看界面-->
        <activity android:name=".activity.SchoolBusRouteActivity" />
        <!--海康组织或区域列表-->
        <activity android:name=".activity.ControlListActivity" />
        <!--海康监控点列表-->
        <activity android:name=".activity.CameraListActivity" />
        <!--监控查看界面-->
        <activity android:name=".activity.MonitorActivity" />
        <!--散装汽油加油报告-->
        <activity android:name=".activity.SZQYJYBGActivity"/>
        <!--校园主页-->
        <activity android:name=".activity.XYActivity" />
        <!--设置-->
        <activity android:name=".activity.SettingActivity" />
        <!--关于-->
        <activity android:name=".activity.AboutActivity" />
        <!--历史监控录像列表-->
        <activity android:name=".activity.MonitorHistoryActivity" />
        <!--校车运行路线-->
        <activity android:name=".activity.BusRouteActivity" />
        <!--乘车人员-->
        <activity android:name=".activity.BusPersonActivity" />
        <!--校车列表-->
        <activity android:name=".activity.SchoolBusListActivity" />
        <!--校园走失情况上报-->
        <activity
            android:name=".activity.XYZSSBActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--—————————————————————————————————————————————————————————————高德地图相关配置———————————————————————————————————————————————————————————————————-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8252a8173808132159e33d0c801eeb9b"/>
    </application>

</manifest>